meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='keywords' content='基金, 定投, 波段, 公众号, 养基, 分析, 系统, 交易, 行情, 股票, 财经, 证券, 金融, 保险, 银行, 博客')
meta(name='description' content='养基定投波段,专注指数基金定投和基金波段操作，分享交易信息。拥有专属技术分析工具，基金公众号。')
link(rel='icon' href='/_asset/favicon.ico' type="image/x-icon")
link(rel='stylesheet' href='/_css/main.css')
script.
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?5b6cb1abd7384cde35f467547869cb34";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
