.page-footer
  .page-content
    .left-part
      ul
        li
          a.icon.weibo
        li
          a.icon.wechat
            div.ewm-block
              h3 搜索微信公众号"养基定投波段"或扫描二维码关注我们
              div.img-wrap
                img(src="/_asset/gzh-ewm.jpg")
    .right-part
      ul
        li
          a(href="/aboutUs.html" class="a-link") 关于我们
        li
          span 技术支持：养基定投波段
