.page-header
  .page-content
    .left-part
      a.logo-wrap(href="/")
        .logo-icon
          img(src="/_asset/app-logo.png")
        h1  养基定投波段
    .right-part
      ui
        li.header-nav.nav-index
          a.a-link(href="/") 首页
        li.header-nav.nav-aboutUs
          a.a-link(href="/aboutUs.html") 关于我们
        li
          .follow-btn 关注我们
            div.ewm-block
              h3 搜索微信公众号"养基定投波段"或扫描二维码关注我们
              div.img-wrap
                img(src="/_asset/gzh-ewm.jpg")

