.page-header
  .page-content
    .left-part
      a.logo-wrap(href="/")
        .logo-icon
          img(src="/_asset/app-logo.png")
        h1  养基定投波段
    .right-part
      ui
        li
          .follow-btn 关注我们
            div.ewm-block
              div.ewm-content
                h3 搜索微信公众号"养基定投波段"或扫描二维码关注我们
                div.img-wrap
                  img(src="/_asset/gzh-ewm.jpg")

