doctype html
html
  head
    title 关于我们
    include component/head
  body.about-page
    include component/page-header
    .page-body
      .about-body.grey-bg
        .page-content
          h3 关于我们
          p 上班族想买基金却不知道买什么？
          p 买卖基金全凭猜测，没有技术性的信号？
          br
          p 没关系，一切都由我们解决。
          p 我们每天都会更新一篇文章为您解读基金市场。
          p 我们拥有独家的基金分析工具，对不同品种的基金给出定投和波段操作上的买卖信号（信号实时更新）。
          p 帮您一起养好基，快来使用吧！
          br
          h3 微信公众号
          img(src="/_asset/gzh-ewm.jpg" class="about-gzh-ewm")
          img(src="/_asset/gzh-zy.jpg" class="about-gzh-home")
      include component/page-footer
