doctype html
html
  head
    title 养基定投波段 - 基金定投波段分析工具
    include component/head
  body.index-page
    include component/page-header
    .page-body
      .main-block
        .page-content
          .img-part
            img(src="/_asset/gzh-zy.jpg")
            img(src="/_asset/lswz.jpg")
            img(src="/_asset/gzh-dh.jpg")
          .text-part
            h2.text-title 公众号文章
            .text-detail
              p 交易日盘后都会在公众号更新一篇基金波段操作策略系列文章，为您解读当前市场及走向。
              p 周末会在公众号不定期分享投资交易的基础知识和操作心法。在关注市场的同时更能提升自己的投资水平，从人出发，在变幻莫测的市场中做到游刃有余。
      include component/page-footer
