doctype html
html
  head
    title 养基定投波段 - 基金定投波段分析工具
    include component/head
  body.index-page
    include component/page-header
    .page-body
      .main-block.grey-bg
        .page-content
          .img-part
            img(src="/_asset/gzh-zy.jpg")
            img(src="/_asset/lswz.jpg")
            img(src="/_asset/gzh-dh.jpg")
          .text-part
            h2.text-title 公众号文章
            .text-detail
              p 交易日盘后都会在公众号更新一篇基金波段操作策略系列文章，为您解读当前市场及走向。
              p 周末会在公众号不定期分享投资交易的基础知识和操作心法。在关注市场的同时更能提升自己的投资水平，从人出发，在变幻莫测的市场中做到游刃有余。
          .st-2
            h3 关于我们
            p 上班族想买基金却不知道买什么？
            p 买卖基金全凭猜测，没有技术性的信号？
            br
            p 没关系，一切都由我们解决。
            p 我们每天都会更新一篇文章为您解读基金市场。
            p 我们拥有独家的基金分析工具，对不同品种的基金给出定投和波段操作上的买卖信号（信号实时更新）。
            p 帮您一起养好基，快来使用吧！
            br
            h3 微信公众号
            img(src="/_asset/gzh-ewm.jpg" class="about-gzh-ewm")
            img(src="/_asset/gzh-zy.jpg" class="about-gzh-home")
    include component/page-footer
