doctype html
html
  head
    title 养基定投波段 - 基金定投波段分析工具
    include component/head
  body.index-page
    include component/page-header
    .page-body.grey-bg
      .main-block
        .page-content
          .img-part
            img(src="/_asset/gzh-zy.jpg")
            img(src="/_asset/lswz.jpg")
            img(src="/_asset/gzh-dh.jpg")
          .text-part
            h2.text-title 公众号
            .text-detail
              p 上班族想买基金却不知道买什么？
              p 买卖基金全凭猜测，没有技术性的信号？
              br
              p 没关系，一切都由我们解决。
              p 我们每天都会更新一篇文章为您解读基金市场。
              p 我们拥有独家的基金分析工具，对不同品种的基金给出定投和波段操作上的买卖信号（信号实时更新）。
              p 帮您一起养好基！
          //.st-2
          //  .qr-item
          //    h3 微信公众号
          //    img(src="/_asset/gzh-ewm.jpg" class="about-gzh-ewm")
          //  .qr-item
          //    h3 信号工具
          //    img(src="/_asset/gzh-ewm.jpg" class="about-gzh-ewm")
    include component/page-footer
